body{
    text-align: center;
    background-color: #5DA1D7;
    width: 450px;
    margin: 0 auto;
    font-size: 16px;
}
img{
    width: 250px;
}
h1{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
h1:hover{
    color: black;
}
blockquote{
    color: white;
    line-height: 1.7;
    margin: 16px 0 20px 0;
}
cite{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
}
ol{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: left;
    margin: 0 auto;
    width: 450px;
}
h2{
    color: white;
    font-weight: bold;
    font-size: 3rem;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 0 20px 0;
}
footer p{
    margin: 3px 0 3px 0;
}

